nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        border: none;
        background: transparent;
        cursor: pointer;
        color: #fff;
        border: 2px solid #fff;
        transition: all .3s ease-in-out;
        padding: .5rem;
        outline: none;
        &:hover {
            background: #fff;
            color: black;
        }
    }
}